{% extends "base.html" %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card shadow">
            <div class="card-header py-3 bg-secondary text-white">
                <h6 class="m-0 fw-bold"><i class="fas fa-edit me-2"></i>Edit Mata Pelajaran</h6>
            </div>
            <div class="card-body">
                <form method="POST">
                    <div class="mb-3">
                        <label>Kode Mapel</label>
                        <input type="text" name="code" class="form-control" value="{{ subject.code }}" required>
                    </div>
                    <div class="mb-3">
                        <label>Nama Mata Pelajaran</label>
                        <input type="text" name="name" class="form-control" value="{{ subject.name }}" required>
                    </div>
                    <div class="mb-3">
                        <label>KKM (Standar Nilai)</label>
                        <input type="number" name="kkm" class="form-control" value="{{ subject.kkm }}" step="0.01" required>
                    </div>

                    <div class="d-flex justify-content-between mt-4">
                        <a href="{{ url_for('admin.manage_subjects') }}" class="btn btn-outline-secondary">Batal</a>
                        <button type="submit" class="btn btn-secondary fw-bold px-4">Simpan Perubahan</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}