server {
    listen 80;
    server_name ppdb.rqdf.co.id;

    # Log error untuk memudahkan debug
    error_log /var/log/nginx/ppdb_error.log;
    access_log /var/log/nginx/ppdb_access.log;

    location = / {
        # Arahkan ke Aplikasi Flask (Halaman Daftar)
        proxy_pass http://127.0.0.1:8000/ppdb;

        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    }

    # Handle file static (CSS/Gambar) agar tampilan tidak hancur
    location /static/ {
        proxy_pass http://127.0.0.1:8000/static/;
        proxy_set_header Host $host;
    }

    # Handle form submission
    location /ppdb/ {
        proxy_pass http://127.0.0.1:8000/ppdb/;
        proxy_set_header Host $host;
    }
}